<html>
  <title>DevHub</title>
  <link rel="stylesheet" href="/style.css" />
  <body>
    <div class="header">
      <a href="/" class="logo"><h1>🌵</h1></a>
      <div class="header-right">
        <a class="active" href="/register">Register</a>
        <a class="active" href="/login">Login</a>
      </div>
    </div>

    <div class="hero">
      <div class="middle-container">
        <h1>
          Create a DevHub account:
        </h1>
        <br>
          <form class="door">
            <div class="container">
              <p class="p">Your username: </p>
              <input class="input" type="text" placeholder="username">
            </div>

            <div class="container">
              <p class="p">Your password: </p>
              <input class="input" type="password" placeholder="password">
            </div>

            <div class="container">
              <p class="p">Repeat your password: </p>
              <input class="input" type="password" placeholder="password">
            </div>

            <div class="container">
              <button class="button" type="submit" name="button">Login</button>
            </div>
          </form>
      </div>
    </div>

  </body>
</html>
