<html>
  <title>DevHub</title>
  <link rel="stylesheet" href="/style.css" />
  <script type="text/javascript" src="/register.js"></script>
  <body>
    <div class="header">
      <a href="/" class="logo"><h1>🌵DevHub</h1></a>
      <div class="header-right">
        <a class="active" href="/register">Register</a>
        <a class="active" href="/login">Login</a>
      </div>
    </div>

    <div class="hero">
      <div class="middle-container">
        <h1>
          Create a DevHub account:
        </h1>
        <br>
          <div class="door">
            <div class="container">
              <p class="p">Your username: </p>
              <input class="input" type="text" placeholder="username" id="username">
            </div>

            <div class="container">
              <p class="p">Your password: </p>
              <input class="input" type="password" placeholder="password" id="password">
            </div>

            <div class="container">
              <p class="p">Repeat your password: </p>
              <input class="input" type="password" placeholder="password" id="cpassword">
            </div>

            <div class="container">
              <button class="button" name="button" onclick="register();">Register</button>
            </div>
          </div>
      </div>
    </div>

  </body>
</html>
