<html>
  <title>DevHub</title>
  <link rel="stylesheet" href="/style.css"/>
  <body>
    <div class="header">
      <a href="/" class="logo"><h1>🌵</h1></a>
      <div class="header-right">
        <a class="active" href="/register">Register</a>
        <a class="active" href="/login">Login</a>
      </div>
    </div>

    <div class="hero">
      <div class="middle-container">
        <h1 class="title">DevHub</h1>
        <h1>
          The social media for developpers
        </h1>
      </div>
    </div>

  </body>
</html>
